:root{
    --toolbar-height: 80px;
}

.toolbar-container{
    background-color: var(--default-color);

    height: var(--toolbar-height);
    padding-left: 20px;
    padding-right: 20px;

    font-size: 20px;
    font-weight: bold;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar-container > div{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.toolbar-link{
    cursor: pointer;
}
.toolbar-link:hover{
    opacity: 0.8;
}

.account-menu-button{
    background-color: transparent;
    box-shadow: 0px 0px 5px inset;

    display: flex;
    align-items: center;
    height: fit-content;
}

.account-menu-button:hover{
    background-color: #ffffff22;
}

.account-menu-button:active{
    background-color: #ffffff22;
    box-shadow: 0px 0px 7px inset;
}
.account-menu-button:active img{
    transform: scale(0.9);
}