:root{
    --default-color: #0083db;
    
    --default-color-light: #89d2ff;
    --default-color-x-light: #abdfff;

    --default-color-slightly-dark: #0075c4;
    --default-color-dark: #0063a4;
}

.app-container{
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    flex-direction: column;
}

.content-container{
    padding: 20px;
    background-color: var(--default-color-x-light);

    flex: 1;
}

.margin-left{
    margin-left: 5px;
}

.rotate-180deg{
    rotate: 180deg; 
}

.v-seperator{
    height: calc(100% - 10px);
    width: 1px;
    background-color: var(--default-color-dark);
}

.h-seperator{
    width: calc(100% - 10px);
    height: 1px;
    background-color: var(--default-color-dark);
}