form{
    display: flex;
    flex-direction: column;
    align-items: stretch;

    mat-form-field{
        max-width: 75%;
        width: 600px;
        min-width: 300px;
    }

    .button-container{
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
    }
}